* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url('https://images.app.goo.gl/ErUpwJgjiehXK5Zp6');
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    color: #fff;
    padding: 5px;
}
